@import "variables.css";

html {
  margin: 0;
  padding: 0%;
  display: flex;
  place-items: center;
  background-color: var(--primary);
  font: white 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: var(--primary);
}

h1 {
  text-align: center;
  margin: 0;
  font: bold;
  color: var(--white);
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--white);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--white);
  padding: 0;
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
  color: var(--white);
  padding: 0;
  margin: 0;
}

h5 {
  font-size: var(--h5-font-size);
  color: var(--white);
  padding: 0;
  margin: 0;
}


body.warm {
  --primary: var(--dark-beige);
  --secondary: var(--darker-brown);
  --thirdary: var(--dark-jade);
  --buttoncolor: var(--white);
}
body.cool{
  --primary: var(--beige);
  --secondary: var(--dark-brown);
  --thirdary: var(--jade);
  --buttoncolor:var(--black);
}

.block {
  background-color: var(--primary);
  place-items: center;
  margin-bottom: auto;
}

.card {
  width: 20rem;
  height: 20rem;
  border: 0.5rem solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 9px;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 10px 5px 5px var(--thirdary);
  transition: 0.3s;
  
}

.container, #card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagesize {
  width: 80%;
  height: 70%;
}

.card:hover {
  transform: scale(1) translateY(-10px);
  transition: 0.5s;
}


button {
  width: 90px;
  height: 40px;
  background-color: var(--thirdary);
  font-size: var(--h5-font-size);
  color: var(--buttoncolor);
  border-color: #ffff;
  border-radius: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 800px) {
  .card {
      width: 40%;
      
  }
}

@media screen and (max-width: 480px) {
  .container {
      flex-direction: column;
  }
      .card {
          width: 90%;
          margin: 0.5rem; 
      }
  }
