@import "variables.css";

html, body {
  margin: 0;
  padding: 0%;
  display: flex;
  place-items: center;
  background-color: var(--primary);
  font: white 1.2rem;
}

h1 {
  text-align: center;
  margin: 0;
  font: bold;
  color: white;
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  color: white;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: var(--h3-font-size);
  color: white;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
  color: white;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: var(--h5-font-size);
  color: white;
  padding: 0;
  margin: 0;
}



.block {
  background-color: var(--primary);
  place-items: center;
  margin-bottom: auto;
}

.card {
  width: 20rem;
  height: 20rem;
  border: 0.5rem solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 9px;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 10px 5px 5px var(--thirdary);
  transition: 0.2s;
  
}

#container, #card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagesize {
  width: 80%;
  height: 70%;
}