:root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --beige: #e4c9a8;
    --dark-brown: #3f3223;
    --jade: #7c9d75;
    --dark-beige: #a8947a;
    --darker-brown: #1b160f;
    --dark-jade: #41533d;
    --white: #ffff;
    --black: #000000;  
  }

